PromoveoAddin/Service References/ModelUserRolesService/ModelUserRolesDAL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ModelUserRolesDAL" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.ebalit.ch/PromoveoServiceLibrary.DataAccessLayer.ModelUserRolesDAL.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.ebalit.ch/PromoveoServiceLibrary.DataAccessLayer.ModelUserRolesDAL.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.ebalit.ch/PromoveoServiceLibrary.DataAccessLayer.ModelUserRolesDAL.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PromoveoServiceLibrary.DataAccessLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IModelUserRoles_AssignUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AssignUser" />
  </wsdl:message>
  <wsdl:message name="IModelUserRoles_AssignUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssignUserResponse" />
  </wsdl:message>
  <wsdl:message name="IModelUserRoles_GetAssignedUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssignedUser" />
  </wsdl:message>
  <wsdl:message name="IModelUserRoles_GetAssignedUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssignedUserResponse" />
  </wsdl:message>
  <wsdl:message name="IModelUserRoles_GetAvailableUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableUser" />
  </wsdl:message>
  <wsdl:message name="IModelUserRoles_GetAvailableUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableUserResponse" />
  </wsdl:message>
  <wsdl:message name="IModelUserRoles_GetModelUserRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModelUserRoles" />
  </wsdl:message>
  <wsdl:message name="IModelUserRoles_GetModelUserRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelUserRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IModelUserRoles_RemoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUser" />
  </wsdl:message>
  <wsdl:message name="IModelUserRoles_RemoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IModelUserRoles">
    <wsdl:operation name="AssignUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelUserRoles/AssignUser" message="tns:IModelUserRoles_AssignUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelUserRoles/AssignUserResponse" message="tns:IModelUserRoles_AssignUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAssignedUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelUserRoles/GetAssignedUser" message="tns:IModelUserRoles_GetAssignedUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelUserRoles/GetAssignedUserResponse" message="tns:IModelUserRoles_GetAssignedUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelUserRoles/GetAvailableUser" message="tns:IModelUserRoles_GetAvailableUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelUserRoles/GetAvailableUserResponse" message="tns:IModelUserRoles_GetAvailableUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModelUserRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelUserRoles/GetModelUserRoles" message="tns:IModelUserRoles_GetModelUserRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelUserRoles/GetModelUserRolesResponse" message="tns:IModelUserRoles_GetModelUserRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelUserRoles/RemoveUser" message="tns:IModelUserRoles_RemoveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelUserRoles/RemoveUserResponse" message="tns:IModelUserRoles_RemoveUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IModelUserRoles" type="tns:IModelUserRoles">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AssignUser">
      <soap:operation soapAction="http://tempuri.org/IModelUserRoles/AssignUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssignedUser">
      <soap:operation soapAction="http://tempuri.org/IModelUserRoles/GetAssignedUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableUser">
      <soap:operation soapAction="http://tempuri.org/IModelUserRoles/GetAvailableUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModelUserRoles">
      <soap:operation soapAction="http://tempuri.org/IModelUserRoles/GetModelUserRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <soap:operation soapAction="http://tempuri.org/IModelUserRoles/RemoveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ModelUserRolesDAL">
    <wsdl:port name="BasicHttpBinding_IModelUserRoles" binding="tns:BasicHttpBinding_IModelUserRoles">
      <soap:address location="http://www.ebalit.ch/PromoveoServiceLibrary.DataAccessLayer.ModelUserRolesDAL.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>