PromoveoAddin/Service References/ModelUserRolesService/PromoveoServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.ebalit.ch/PromoveoServiceLibrary.DataAccessLayer.ModelUserRolesDAL.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PromoveoServiceLibrary.DataAccessLayer" />
  <xs:element name="AssignUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="configurationID" type="xs:int" />
        <xs:element minOccurs="0" name="modelRoleID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssignedUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelRoleID" type="xs:int" />
        <xs:element minOccurs="0" name="configurationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssignedUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PromoveoServiceLibrary.DataAccessLayer" minOccurs="0" name="GetAssignedUserResult" nillable="true" type="q1:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelRoleID" type="xs:int" />
        <xs:element minOccurs="0" name="configurationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PromoveoServiceLibrary.DataAccessLayer" minOccurs="0" name="GetAvailableUserResult" nillable="true" type="q2:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelUserRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="configurationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelUserRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PromoveoServiceLibrary.DataAccessLayer" minOccurs="0" name="GetModelUserRolesResult" nillable="true" type="q3:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="configurationID" type="xs:int" />
        <xs:element minOccurs="0" name="modelRoleID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>