PromoveoAddin/Service References/ProcessModelService/PromoveoServiceLibrary4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PromoveoServiceLibrary.DataAccessLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PromoveoServiceLibrary.DataAccessLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProcessModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProcessModel" nillable="true" type="tns:ProcessModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcessModel" nillable="true" type="tns:ArrayOfProcessModel" />
  <xs:complexType name="ProcessModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcknowledgeState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FK_Configuration" type="xs:int" />
      <xs:element minOccurs="0" name="FK_PublishingPlatformUser" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcessModel" nillable="true" type="tns:ProcessModel" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Shortname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>