PromoveoAddin/Service References/ModelToPublishingPlatformRoleAssignmentService/ModelToPublishingPlatformRoleAssignmentDAL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ModelToPublishingPlatformRoleAssignmentDAL" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.ebalit.ch/PromoveoServiceLibrary.DataAccessLayer.ModelToPublishingPlatformRoleAssignmentDAL.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.ebalit.ch/PromoveoServiceLibrary.DataAccessLayer.ModelToPublishingPlatformRoleAssignmentDAL.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.ebalit.ch/PromoveoServiceLibrary.DataAccessLayer.ModelToPublishingPlatformRoleAssignmentDAL.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PromoveoServiceLibrary.DataAccessLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IModelToPublishingPlatformRoleAssignment_GetModelsOfRole_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModelsOfRole" />
  </wsdl:message>
  <wsdl:message name="IModelToPublishingPlatformRoleAssignment_GetModelsOfRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelsOfRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IModelToPublishingPlatformRoleAssignment_IsChecked_InputMessage">
    <wsdl:part name="parameters" element="tns:IsChecked" />
  </wsdl:message>
  <wsdl:message name="IModelToPublishingPlatformRoleAssignment_IsChecked_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsCheckedResponse" />
  </wsdl:message>
  <wsdl:message name="IModelToPublishingPlatformRoleAssignment_PersistRoleModelAssignment_InputMessage">
    <wsdl:part name="parameters" element="tns:PersistRoleModelAssignment" />
  </wsdl:message>
  <wsdl:message name="IModelToPublishingPlatformRoleAssignment_PersistRoleModelAssignment_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersistRoleModelAssignmentResponse" />
  </wsdl:message>
  <wsdl:portType name="IModelToPublishingPlatformRoleAssignment">
    <wsdl:operation name="GetModelsOfRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelToPublishingPlatformRoleAssignment/GetModelsOfRole" message="tns:IModelToPublishingPlatformRoleAssignment_GetModelsOfRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelToPublishingPlatformRoleAssignment/GetModelsOfRoleResponse" message="tns:IModelToPublishingPlatformRoleAssignment_GetModelsOfRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsChecked">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelToPublishingPlatformRoleAssignment/IsChecked" message="tns:IModelToPublishingPlatformRoleAssignment_IsChecked_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelToPublishingPlatformRoleAssignment/IsCheckedResponse" message="tns:IModelToPublishingPlatformRoleAssignment_IsChecked_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersistRoleModelAssignment">
      <wsdl:input wsaw:Action="http://tempuri.org/IModelToPublishingPlatformRoleAssignment/PersistRoleModelAssignment" message="tns:IModelToPublishingPlatformRoleAssignment_PersistRoleModelAssignment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModelToPublishingPlatformRoleAssignment/PersistRoleModelAssignmentResponse" message="tns:IModelToPublishingPlatformRoleAssignment_PersistRoleModelAssignment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IModelToPublishingPlatformRoleAssignment" type="tns:IModelToPublishingPlatformRoleAssignment">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetModelsOfRole">
      <soap:operation soapAction="http://tempuri.org/IModelToPublishingPlatformRoleAssignment/GetModelsOfRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsChecked">
      <soap:operation soapAction="http://tempuri.org/IModelToPublishingPlatformRoleAssignment/IsChecked" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersistRoleModelAssignment">
      <soap:operation soapAction="http://tempuri.org/IModelToPublishingPlatformRoleAssignment/PersistRoleModelAssignment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ModelToPublishingPlatformRoleAssignmentDAL">
    <wsdl:port name="BasicHttpBinding_IModelToPublishingPlatformRoleAssignment" binding="tns:BasicHttpBinding_IModelToPublishingPlatformRoleAssignment">
      <soap:address location="http://www.ebalit.ch/PromoveoServiceLibrary.DataAccessLayer.ModelToPublishingPlatformRoleAssignmentDAL.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>