PromoveoAddin/Service References/ModelToPublishingPlatformRoleAssignmentService/PromoveoServiceLibrary2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PromoveoServiceLibrary.DataAccessLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PromoveoServiceLibrary.DataAccessLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfModelToPublishingPlatformRoleAssignment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelToPublishingPlatformRoleAssignment" nillable="true" type="tns:ModelToPublishingPlatformRoleAssignment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelToPublishingPlatformRoleAssignment" nillable="true" type="tns:ArrayOfModelToPublishingPlatformRoleAssignment" />
  <xs:complexType name="ModelToPublishingPlatformRoleAssignment">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_ProcessModel" type="xs:int" />
      <xs:element minOccurs="0" name="FK_PublishingPlatformRole" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelToPublishingPlatformRoleAssignment" nillable="true" type="tns:ModelToPublishingPlatformRoleAssignment" />
</xs:schema>