PromoveoAddin/Service References/UserRoleService/UserRoleDAL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserRoleDAL" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.ebalit.ch/PromoveoServiceLibrary.DataAccessLayer.UserRoleDAL.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.ebalit.ch/PromoveoServiceLibrary.DataAccessLayer.UserRoleDAL.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.ebalit.ch/PromoveoServiceLibrary.DataAccessLayer.UserRoleDAL.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PromoveoServiceLibrary.DataAccessLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserRole_AssignUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AssignUser" />
  </wsdl:message>
  <wsdl:message name="IUserRole_AssignUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AssignUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRole_GetAssignedUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAssignedUsers" />
  </wsdl:message>
  <wsdl:message name="IUserRole_GetAssignedUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAssignedUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRole_GetUnassignedUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnassignedUsers" />
  </wsdl:message>
  <wsdl:message name="IUserRole_GetUnassignedUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnassignedUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRole_RemoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUser" />
  </wsdl:message>
  <wsdl:message name="IUserRole_RemoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserRole">
    <wsdl:operation name="AssignUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRole/AssignUser" message="tns:IUserRole_AssignUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRole/AssignUserResponse" message="tns:IUserRole_AssignUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAssignedUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRole/GetAssignedUsers" message="tns:IUserRole_GetAssignedUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRole/GetAssignedUsersResponse" message="tns:IUserRole_GetAssignedUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnassignedUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRole/GetUnassignedUsers" message="tns:IUserRole_GetUnassignedUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRole/GetUnassignedUsersResponse" message="tns:IUserRole_GetUnassignedUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRole/RemoveUser" message="tns:IUserRole_RemoveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRole/RemoveUserResponse" message="tns:IUserRole_RemoveUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserRole" type="tns:IUserRole">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AssignUser">
      <soap:operation soapAction="http://tempuri.org/IUserRole/AssignUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAssignedUsers">
      <soap:operation soapAction="http://tempuri.org/IUserRole/GetAssignedUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnassignedUsers">
      <soap:operation soapAction="http://tempuri.org/IUserRole/GetUnassignedUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <soap:operation soapAction="http://tempuri.org/IUserRole/RemoveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserRoleDAL">
    <wsdl:port name="BasicHttpBinding_IUserRole" binding="tns:BasicHttpBinding_IUserRole">
      <soap:address location="http://www.ebalit.ch/PromoveoServiceLibrary.DataAccessLayer.UserRoleDAL.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>