PromoveoAddin/Service References/ConfigurationService/PromoveoServiceLibrary1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.ebalit.ch/PromoveoServiceLibrary.DataAccessLayer.ConfigurationDAL.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PromoveoServiceLibrary.DataAccessLayer" />
  <xs:element name="GetVisioMasterFileName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="configurationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisioMasterFileNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVisioMasterFileNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVisioMasterFileName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="configurationID" type="xs:int" />
        <xs:element minOccurs="0" name="visioMasterFilename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVisioMasterFileNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PromoveoServiceLibrary.DataAccessLayer" minOccurs="0" name="GetConfigurationsResult" nillable="true" type="q1:ArrayOfConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PromoveoServiceLibrary.DataAccessLayer" minOccurs="0" name="configuration" nillable="true" type="q2:Configuration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateConfigurationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PromoveoServiceLibrary.DataAccessLayer" minOccurs="0" name="configuration" nillable="true" type="q3:Configuration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConfigurationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PromoveoServiceLibrary.DataAccessLayer" minOccurs="0" name="configuration" nillable="true" type="q4:Configuration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConfigurationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>